crcmod==1.7
future==1.0.0
iso8601==2.1.0
numpy==2.3.1
pandas==2.3.0
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
RPi.GPIO==0.7.1
six==1.17.0
smbus2==0.5.0
spidev==3.7
tzdata==2025.2
